/* CSS RESET */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  
}

/*========== Dark Mode ==========*/
#dark
{ 
  background-color: #132d3f;
  color:white;
}

/* ==========MOBILE VIEW============= */
@media (max-width: 600px) {
  .footer {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
